include ../assets/pug/_kurohyoustudios.pug
- const siteVersion = '1.1';
mixin pageHead(subHead = "index")
  header
    h1 The K-Scaffold Framework
    span.subhead PUG, HTML, and Javascript
  nav
    ul
      if subHead === 'pug' || subHead === 'js'
        li
          a(href=`index.html?v=${siteVersion}`) General Info
      if subHead === 'index' || subHead === 'js'
        li
          a(href=`pug.html?v=${siteVersion}`) Pug Documentation
      if subHead === 'index' || subHead === 'pug'
        li
          a(href=`js.html?v=${siteVersion}`) Sheetworker Documentation
    ul
      block
      li
        a(href="#contact-header") Contact & Feedback
mixin pageFooter
  .footer
  footer
    section(aria-label="Contact & Feedback")#contact-header.flex.flex--space-evenly
      +socialIcons
    span By Scott Casey, Kurohyou Studios
  script(type="text/javascript").
    const siteVersion = #{siteVersion};

mixin siteFonts
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Aldrich&family=Exo+2:ital,wght@0,400;0,700;1,400&family=Fira+Code&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")

mixin generalStyleSheets(page)
  +siteFonts
  link(rel="stylesheet" href="assets/portfolio/social-icons.css")
  link(rel="stylesheet" href="assets/css/clear.css")
  link(rel="stylesheet" href="assets/css/generic.css")
  link(rel="stylesheet" href=`assets/css/${page}.css`)

mixin codeSheetStyles
  link(rel="stylesheet", href="assets/css/prettify.css")
  link(rel="stylesheet", href="assets/css/sons-of-obsidian.css")
  link(rel="stylesheet" href="assets/css/codeDisplay.css")

mixin genericScripts
  script(src="assets/javascript/resizer.js")

mixin codePageScripts(type)
  +genericScripts
  script(src="assets/javascript/prettify.js")
  script(src="assets/javascript/parser.js")

mixin mainSection(headText,headID)
  section(aria-labelledby=headID)
    h2(id=headID) #{headText}
    .border
    .content
      block